{% extends 'index.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <form method="POST" class="col-5">
            {{ form.pokemon(class= 'form-control', placeholder="Enter Pokemon") }}
            {{ form.submit(class='btn btn-primary', placeholder="submit") }}


        </form>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">

        {% if poke %}
        <div class="card" style="width: 18rem;">
            <img src="{{poke.sprite}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 class="card-title">{{poke.species}}</h4>
                <p class="card-text">

                <H6>Ability: {{poke.ability}}</H6>
                <h6>Base Experience: {{poke.base_exp}}</h6>
                <h6>Attack: {{poke.attack}}</h6>
                <h6>Defense: {{poke.defense}}</h6>
                <h6>Base HP: {{poke.hp}}</h6>
                
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        {% endif %}
    </div>

</div>

{% endblock %}